<div class="container">

  <div class="row">
    <div class="col-md-12 text-center space">
      <select class="form-control-sm" name="type" placeholder="Embarcadero" [(ngModel)]="type">
        <option>Yate</option>
        <option>Catamarán</option>
        <option>Velero</option>
        <option value="">Todos</option>
      </select>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="offset-lg-4 col-lg-4 col-sm-5 col-12" *ngFor="let boat of boats | filter:'type':type">
        <div class="card">
          <img class="border-radius" src="{{boat.imgBoat}}" alt="Card image cap" width="100%" height="200px">
          <label class="type text-light">{{boat.type}}</label>
          <label class="text-light date text-center">{{boat.created_at | date: "dd MMM"}}</label>
          <label class="text-light price text-center">{{boat.price}} € por día</label>
          <div class="card-block">
            <p class="title">{{boat.place}}</p>
            <button type="button" class="btn btn-warning text-light">
              <a class="link-color" [routerLink]="['/home/boat', boat._id]">Ver más</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
