<form>
  <div class="form-group">
    <label for="name">Nombre del barco</label>
    <input type="text" class="form-control-sm" id="name" placeholder="Nombre " name="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="type">Tipo de barco</label>
    <select class="form-control-sm" id="type" name="type" [(ngModel)]="type">
      <option>Yate</option>
      <option>Catamarán</option>
      <option>Velero</option>
    </select>
  </div>
  <div class="form-group">
    <label for="year">Año</label>
    <input type="number" class="form-control-sm" id="year" min="1995" max="2018" name="year" [(ngModel)]="year">
  </div>
  <div class="form-group">
    <label for="capacity">Capacidad máx.personas</label>
    <input type="number" class="form-control-sm" id="capacity" min="4" max="16" name="capacity" [(ngModel)]="capacity">
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <textarea name="description" id="description" cols="30" rows="10" [(ngModel)]="description"></textarea>
  </div>
<div class="form-group">
  <label for="type">Ubicación</label>
<select class="form-control-sm" id="place" name="place" [(ngModel)]="place">

    <option>Palma de Mallorca</option>
    <option>Altea</option>
    <option>Castro Urdiales</option>
  </select>
</div>



  <fieldset>
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
  </fieldset>
  <button (click)="getNewBoat()">Añade tu barco</button>
</form>

<button (click)="cancel()">Volver</button>
