<!-- <form>
  <h2> Signup </h2>
  <label> Nombre: </label>
  <input type="text" [(ngModel)]="username" name="username" />
  <br>
  <label> Password: </label>
  <input type="password" [(ngModel)]="password" name="password" />

  <div class="radio">
    <label>
      <input type="radio" name="owner" [(ngModel)]="isOwner" [value]="true">Patrón</label>

  </div>
  <div class="radio">
    <label>
      <input type="radio" name="client" [(ngModel)]="isOwner" [value]="false">Cliente</label>

  </div>

  <div style="padding-top:30px">

    <button (click)="signup()"> signup </button>

  </div>
</form>
<p class="error"> {{ error }} </p> -->


<div class="signup-form">
  <form>
    <h2>Registro</h2>
    <p>Por favor, rellena el formulario</p>
    <hr>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-user"></i>
        </span>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Nombre" required="required">

      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-paper-plane"></i>
        </span>
        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email" required="required">

      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
        </span>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required="required">

      </div>
    </div>

    <div class="form-group">
      <label class="radio">
        <input type="radio" name="owner" [(ngModel)]="isOwner" [value]="true" required="required"> ¿ Eres patrón de barco ?.
      </label>
      <label class="radio">

        <input type="radio" name="owner" [(ngModel)]="isOwner" [value]="false" required="required"> Si no lo eres haz un click aquí.
      </label>


    </div>
    <div class="form-group">
      <button (click)="signup()" class=" btn btn-primary btn-lg ">Sign Up</button>

    </div>
  </form>
  
</div>
