<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-txt-top">
        <h2>PAGINA DE REGISTRO</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form action="#" method="POST">
        <div class="block">
          <br/>
          <h5>Datos del viaje</h5>
          
          <div id="adedit_signup">
            <div class="line-entry">
              <div class="col-sm-6">
                <div class="col-sm-1">
                  <br/>
                  <label>Ciudad de origen</label>
                  <br/>
                  <input type="text" maxlength="50" [(ngModel)]="origin" name='origin'>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-1">
                  <br/>
                  <label>Ciudad de destino</label>
                  <br/>
                  <input type="text" maxlength="50" [(ngModel)]="destination" name='destination'>
                </div>
              </div>
            </div>
            <div class="line-entry">
              <div class="col-sm-12">
                <div class="col-sm-1">
                  <br/>
                  <label>Fecha</label>
                  <br/>
                  <input type="date" [(ngModel)]="dateReservation" name='dateReservation'>
                </div>
              </div>
            </div>
          </div>
        </div>
