@import url('https://fonts.googleapis.com/css?family=Bad+Script|Homemade+Apple');

.text{
      font-family: 'Bad Script',
      cursive;
}

h2{
    font-size: 2em;
}

p{
    font-size: 1.5em;
}

.link-color {
  color: #fff;
  text-decoration-line: none;
}

.image{
    width: 80%;
    height: 300px;
}
