<div class="container">
  <div class="row text-center">
    <div class="col-md-12 text">
      <h2>Confirmada reserva!!</h2>
      <p>En breves instantes te enviáremos un email de confirmación.</p>
      <p>Gracias por confiar en nosotros y disfruta de tu viaje. </p>
    </div>
  </div>


  <div class="row text-center">
    <div class="col-md-12">
      <button type="button" class="btn btn-warning btn-rounded">
        <a class="link-color" [routerLink]="['/user']">Volver</a>
      </button>
    </div>
  </div>
</div>
