<div class="container">
  <div class="row">
    <div class="offset-lg-4 col-8 text" *ngIf="boat">
      <div class="card">
        <h5>CARACTERISTICAS DEL BARCO</h5>
        <img src="{{boat.imgBoat}}" alt="PHOTO" width="400px" height="300px">
        <div class="card-block">
          <h4>Owner</h4>
          <div id="description">
            <h5>DESCRIPCIÓN</h5>
            <p>{{boat.description}}</p>
          </div>
          <hr>
          <div id="detalles">

            <h5>DETALLES</h5>
            <div>
              <span>Capacidad:</span>
              <i>{{boat.capacity}} personas máx.</i>
            </div>
            <div>
              <span>Año: </span>
              <i>{{boat.year}}</i>
            </div>
            <div>
              <span>Medidas: </span>
              <i>Eslora: {{boat.eslora}} m</i>
              <i>Manga: {{boat.width}} m</i>
              <i>Calado: {{boat.openwork}} m</i>
            </div>
            <div>
              <span>Ubicación: </span>
              <i>{{boat.place}}</i>
            </div>
            <div>
              <span>Price: </span>
              <i>{{boat.price}} € por día</i>
            </div>
            <div>
              <h4>Datos de reserva</h4>
              <form>
                <div>
                  <h4>Inicio</h4>
                  <input type="date" [(ngModel)]="initialDay" name="initialDay">
                </div>
                <div>
                  <h4>Final</h4>
                  <input type="date" [(ngModel)]="endDay" name="endDay">
                </div>
                <div>
                  <hr>
                  <button type="button" class="btn btn-warning btn-rounded" (click)="getDays()">Confirmar fechas</button>
                </div>

                <div>
                  <h4>Días totales: {{this.days}} </h4>
                </div>
                <div>
                  <h4>Precio Total: {{this.days * this.boat.price | currency:'EUR':true:'2.2-4'}} </h4>
                </div>

                <div>
                  <br>
                  <button type="button" class="btn btn-warning btn-rounded" (click)="submitReservation(this.boat.price)">Confirmar reserva</button>
                  <br>
                </div>
              </form>
              <br>
            </div>
            <div>
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="true" [zoomControl]="true" (mapClick)="mapClicked($event)">
                <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                  (dragEnd)="markerDragEnd(m, $event)">
                  <agm-info-window>
                    <strong>{{boat.place}}</strong>
                  </agm-info-window>
                </agm-marker>
              </agm-map>
            </div>
            <br>
            <div>
              <button class="circle" (click)="cancel()">Volver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
