@import url('https://fonts.googleapis.com/css?family=Bad+Script|Homemade+Apple');

h1 {
  font-size: 5em;
  font-family: 'Bad Script', cursive;
}

p {
  font-size: 2em;
  font-family: 'Bad Script', cursive;
  padding-bottom: 3%;
}

h1, p {
    padding-top: 4%;
    color: #347D87;
    font-weight: 700;

}
span{
  
  font-family: 'Bad Script',
  cursive;
  font-size: 1.5em;

}

